@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .infoNav {
        width: 95%;
        top: 8.1%;
        margin-left: 2%;
    }

    .infoNav ul {
        font-size: 9px;
        margin-left: -10%;
    }

    .competeInfo,
    .details,
    .stageAndTimeline,
    .prizes,
    .Reviews ,
    .Faq  {
        width: 95%;
        margin-left: 2%;
    }
    .certificate-btn, .placement-btn {
        background: #e6f7f1;
        border: none;
        padding: 8px 4px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
    }
    .reward-amount {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 0.9em;
    }
    .navbar{
        display: none;
    }
    .moblienavbar {
        display: flex;
        align-items: center;
    }
      #sae{
        padding: 5px;
      }
}

/* Tablet screens (up to 1024px) */
@media only screen and (max-width:1024px) {
    body {
        font-size: 20px;
    }
    
    .infoNav {
        width: 95%;
        top: 8.1%;
        margin-left: 2%;
    }

    .infoNav ul {
        font-size: 9px;
        margin-left: -4%;
    }

    .competeInfo,
    .details,
    .stageAndTimeline,
    .prizes ,
    .Reviews ,
    .Faq{
        width: 95%;
        margin-left: 2%;
    }
    .certificate-btn, .placement-btn {
        background: #e6f7f1;
        border: none;
        padding: 8px 4px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
    }
    .reward-amount {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 0.9em;
    }
    .navbar{
        display: none;
    }
    .moblienavbar {
        display: flex;
        align-items: center;
    }
      #sae{
        padding: 5px;
      }
}

/* Laptops/desktops (up to 1280px) */
@media only screen and (max-width: 1280px) {
    body {
        font-size: 15px;
    }
}